html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* hide error overlay, https://github.com/vercel/next.js/discussions/13387#discussioncomment-5694715 */
nextjs-portal {
  display: none;
}